---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}
    <div class="table-of-contents">
        {% for collection in site.collections %}
        {% assign name = collection.label %}
        <section>

            {% for page in site.[name] %}
            <style>{{ page.short_example_scss | scssify }}</style>
            <article onclick="window.location.href='{{page.url}}';">
                <div class="short-example">{{ page.short_example_dom }}</div>
                <div class="article-header">
                    <div class="article-title">{{page.title}}</div>
                    <div class="article-desciption">{{page.description}}</div>
                </div>
            </article>
            {% endfor %}

        </section>
        {% endfor %}
    </div>
</div>